<?xml version="1.0" encoding="UTF-8"?>
<phpunit     
    backupGlobals="false" 
    backupStaticAttributes="false"
    bootstrap="tests/bootstrap.php" 
    colors="true"
    convertErrorsToExceptions="true" 
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true" 
    processIsolation="false"
    stopOnFailure="false">
    <testsuites>
        <testsuite name="xmlviewTests">
            <directory suffix="Test.php"> ./tests/Base</directory>
            <directory suffix="Test.php"> ./tests/Parser</directory>
            <directory suffix="Test.php"> ./tests/Data</directory>
            <directory suffix="Test.php"> ./tests/Form</directory>
        </testsuite>
        <testsuite name="widgets">
            <directory suffix="Test.php"> ./tests/Widgets</directory>
        </testsuite>
     </testsuites>
</phpunit>    